body {
    margin: 0;
    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #020617,
        #0f172a,
        #1e3a8a
    );

    color: #f8fafc;

    min-height: 100vh;
}

.resultado {

    max-width: 600px;

    margin: 80px auto;

    padding: 40px;

    background: rgba(15,23,42,0.88);

    backdrop-filter: blur(8px);

    border-radius: 18px;

    border: 1px solid rgba(255,255,255,0.1);

    box-shadow:
        0 0 30px rgba(59,130,246,0.25);

    text-align: center;

    color: white;
}

.resultado h1 {

    color: #facc15;

    text-shadow:
        0 0 15px rgba(250,204,21,0.7);
}

.resultado h2 {
    margin-bottom: 15px;
}

.resultado p {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.resultado button {
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.resultado button:hover {
    background-color: #1d4ed8;
    transform: scale(1.05);
}

.btn-menu {
    margin-left: 15px;

    padding: 15px 25px;

    border: none;
    border-radius: 10px;

    background-color: #475569;

    color: white;

    cursor: pointer;

    font-size: 16px;

    transition: 0.3s;
}

.btn-menu:hover {
    background-color: #334155;
    transform: scale(1.05);
}